/res101_faster_rcnn_iter_110000.ckpt.data-00000-of-00001
/res101_faster_rcnn_iter_110000.ckpt.index
/res101_faster_rcnn_iter_110000.ckpt.meta
/res101_faster_rcnn_iter_110000.pkl
/vgg16_faster_rcnn_iter_110000.ckpt.data-00000-of-00001
/vgg16_faster_rcnn_iter_110000.ckpt.index
/vgg16_faster_rcnn_iter_110000.ckpt.meta
/vgg16_faster_rcnn_iter_110000.pkl
/voc_2007_trainval+voc_2012_trainval
